<div class="item block">
    <header>
        <img src="{{ comment.publisher.image }}" alt="{{ comment.publisher.username }}">
        <div class="header">
            <a href="" class="author">
                {{ comment.publisher.username }}
            </a>
            <span class="info">at {{ comment.created_at }}</span>
        </div>
    </header>

    <section class="item-content block">
        {{ comment.content }}
    </section>

    <section class="item-footer">
        {% if user.is_authenticated %}
        <div class="float-rt">
            <span class="btn" onclick="Vote('Comment.{{ comment.pk }}', 1)"><i class="fa fa-thumbs-up"></i></span>
            <span class="karma" data-target="Comment.{{ comment.pk }}">{{ comment.karma }}</span>
            <span class="btn" onclick="Vote('Comment.{{ comment.pk }}', 0)"><i class="fa fa-thumbs-down"></i></span>
        </div>
        {% endif %}

        <div class="block-inline">
            {% if comment.publisher_id == user.id %}
                <a href="">
                    <i class="fa fa-trash"></i>
                </a>
            {% else %}
                &nbsp;
            {% endif %}
        </div>
    </section>
</div>