{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block content %}
    <form action="" id="avatar-form" method="post" enctype="multipart/form-data" class="block html-form tab flat">
        {% csrf_token %}

        <header class="title">{% trans 'Upload New Profile Image' %}</header>
        <p>{{ form.non_field_errors }}</p>
        
        <div class="input avatar">
            {% if user.avatar %}
                <img src="{{ user.image }}" alt="{{ user.username }}">
            {% else %}
                <img src="{% static 'media/noavatar.jpg' %}" alt="{{ user.username }}">
            {% endif %}
        </div>
        <div class="input {% if form.errors.title %}invalid{% endif %}">
            {{ form.avatar }}
        </div>
        <div class="action">
            <button class="btn flat" type="submit">{% trans 'Upload' %}</button>
        </div>
    </form>
{% endblock content %}