{% if not user.is_authenticated %}
    <div class="headed wide html-form block">
        <header class="block-title">Authorization</header>
        <section class="block-body">
            <form action="{% url 'person:auth' %}" method="post">
                {% csrf_token %}
                <div class="input">
                    <input type="text" name="username" placeholder="Email or Login">
                </div>
                <div class="input">
                    <input type="password" name="password" placeholder="Password">
                </div>
                <input type="submit" class="btn" value="Login">
            </form>
        </section>
    </div>
{% else %}
    <div class="headed wide html-form block">
        <header class="block-title">Founder Karma <span class="float-rt">{{ user.karma }}</span></header>
        <section class="block-body">
            {% for club in my_clubs %}
                <a href="" class="btn">{{ club.title }}</a>
            {% endfor %}
            <a href="{% url 'club:create' %}" class="btn">Create New Club</a>
        </section>
    </div>
{% endif %}