{% extends 'base.html' %}

{% block content %}
    <div>
        <textarea name="message" id="msg" cols="30" rows="10"></textarea>
        <input type="hidden" id="author" value="{{ user.pk }}">
        <input type="submit" id="send_message">
    </div>
    <div id="container" class="block"></div>
    <script type="text/javascript">
        jQuery(document).ready(function($) {
            var ws4redis = WS4Redis({
                uri: 'ws://hashorg.com/stream/{{ public.facility }}?subscribe-broadcast&publish-broadcast&echo',
                receive_message: receiveMessage,
                heartbeat_msg: {{ WS4REDIS_HEARTBEAT }}
            });
            var billboard = $('#container');

            // send message though the Websocket to the server
            $("#msg").keydown(function(event) {
                if (event.keyCode === 13) {
                    event.preventDefault();
                    ws4redis.send_message($('#msg').val());
                }
            });

            $('#send_message').click(function() {
                ws4redis.send_message($('#msg').val());
            });

            // receive a message though the Websocket from the server
            function receiveMessage(msg) {
                billboard.append('<br/>' + msg);
                billboard.scrollTop(billboard.scrollTop() + 25);
            }
        });
    </script>
{% endblock %}