{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>#{{ title }}{% block extra_title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/tokenize.css' %}">

    <!-- Scripts -->
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
    <script type="text/javascript" src="{% static 'js/droplet.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/tokenize.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/app.js' %}"></script>
</head>
<body>
    <header class="main-bar">
        <div class="wrapper">
            <ul>
                <li id="brand">
                    <a href="{% url 'home' %}">
                        <img src="{% static 'media/hashorg.png' %}" alt="HashOrg">
                    </a>
                </li>
                <li id="form-search">
                    <form action="{% url 'home' %}">
                        <input type="text" autocomplete="off" name="hash" value="{{ hash }}" placeholder="tag">
                        <a href="javascript:void(0);" onclick="$(this).parent().submit();"><i class="fa fa-search"></i></a>
                    </form>
                </li>
            </ul>

            {% if user.is_authenticated %}
            <ul class="float-rt">
                <li class="xs-hide"><a href="#">{{ user.username }}</a></li>
                <li style="display: none" class="xs-show"><a href="#"><i class="fa fa-user"></i></a></li>
                <li class="xs-hide"><a href="{% url 'person:logout' %}"><i class="fa fa-power-off"></i></a></li>
            </ul>
            {% else %}
            <ul class="float-rt">
                <li class="xs-hide"><a href="{% url 'person:login' %}">Login</a></li>
                <li style="display: none" class="xs-show"><a href="{% url 'person:login' %}"><i class="fa fa-user"></i></a></li>
                <li class="xs-hide"><a href="{% url 'person:logout' %}"><i class="fa fa-power-off"></i></a></li>
            </ul>
            {% endif %}
        </div>
    </header>

    {% block extra %}{% endblock extra %}

    <section class="wrapper body">
        <!-- Right side section -->
        <section class="panel">
            {% block rside %}
                {% include 'person/profile-bar.html' %}

                <div class="headed block">
                    <header class="block-title">Hot topic</header>
                    <section class="block-body">
                        {% for tag in hot %}
                            <a class="btn flat" href="{% url 'home' %}?hash={{ tag.name }}">#{{ tag.name }}</a>
                        {% endfor %}
                    </section>
                </div>
            {% endblock rside %}
        </section>

        <!-- Content section -->
        <section class="content">
            {% block content %}{% endblock content %}
        </section>
    </section>
        <div class="fix"></div>
</body>
</html>