{% load staticfiles %}
<section class="profile">
    <div class="header" style="background-image: url({% static 'media/space.jpg' %});"></div>
</section>

<section class="club-nav">
    <div class="wrapper">
        <ul>
            <li>
                <span class="float-rt md-hide sm-show" data-toggle=".club-tag">
                    <i class="fa fa-bars"></i>
                </span>
                <a href="{% url 'club:home' club.pk %}">@{{ club.title }}</a>
            </li>
            {% for tag in club.tags.all %}
                <li class="club-tag"><a href="?hash={{ tag.name }}">{{ tag }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>