{% extends 'base.html' %}
{% load staticfiles datetime %}

{% block extra_title %}{{ club.title }} | {% endblock extra_title %}

{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/paginator.js' %}"></script>
    <script type="text/javascript">
        $(function(){
            window.pager = new Paginator('{% url 'club:home' club.pk %}', {
                hash: '{{ hash }}'
            });
        });
    </script>
{% endblock %}

{% block extra %}
    {% include 'public/header.html' %}
{% endblock extra %}

{% block content %}
    <!-- Publication Form -->
    {% if is_owner or is_founder %}
        {% include 'public/publish_form.html' %}
    {% endif %}

    <!-- Post listing -->
    <div data-fresh="entry" data-container>
        {% include 'feed/listing.html' %}
    </div>
{% endblock content %}

{% block rside %}
    {% include 'public/rside.html' %}
{% endblock rside %}
