{% extends 'base.html' %}
{% load staticfiles datetime %}

{% block extra_title %} - {{ club.title }}{% endblock extra_title %}

{% block extra %}
<section class="profile">
    <div class="header" style="background-image: url({% static 'media/space.jpg' %});"></div>
</section>
{% endblock extra %}

{% block content %}
    <!-- Publication Form -->
    <div class="item block html-form wide">
        <header>
            <img src="{{ club.image }}" alt="Author">
            <div class="header">
                <span class="btn float-rt" onclick="Public.post('.editor')">Publish</span>
                <span class="author">{{ club.title }}</span>
                <span class="info">{{ ''|dtf }}</span>
            </div>
        </header>
        <section class="item-content input">
            <div data-autoresize="24" data-empty class="editor">
                <span style="color: #888">What happend?</span>
            </div>
        </section>
    </div>

    <div data-fresh="entry">
        {% include 'feed/listing.html' with entries=club.recent_entries %}
    </div>
{% endblock content %}


    <!-- Right side section -->
    <section class="panel">
        <div class="headed wide html-form block">
            <header class="block-title">
                Name Lastname
            </header>
            <section class="block-body">
                <div class="wide avatar">
                    <img src="/assets/media/img.jpg" alt="Avattar" data-tooltip="Name Lastname">
                    <a href="" class="btn">Upload New</a>
                </div>
            </section>
        </div>
    </section>

