{% extends 'base.html' %}
{% load staticfiles datetime %}

{% block extra_title %} - {{ club.title }}{% endblock extra_title %}

{% block extra %}
    {% include 'public/header.html' %}
{% endblock extra %}

{% block content %}
    <!-- Publication Form -->
    {% if is_owner or is_founder %}
        {% include 'public/publish_form.html' %}
    {% endif %}

    <!-- Post listing -->
    <div data-fresh="entry">
        {% include 'feed/listing.html' with entries=club.recent_entries %}
    </div>
{% endblock content %}

{% block rside %}
    {% include 'public/rside.html' %}
{% endblock rside %}
