{% load i18n %}
<!-- Club control -->
<div class="headed block">
    <header class="block-title">
        {{ club.title }}
        <span class="float-rt">{{ club.karma }}</span>
    </header>
    <section class="block-body navbar">
        <img src="{{ club.image }}" alt="{{ club.title }}">
        {% if is_owner %}
        <a href=""><i class="fa fa-cog"></i> Settings</a>
        {% elif user.is_authenticated %}
            {% if is_subscribed %}
                <a href="?unsubscribe=me" class="btn block-block">{% trans 'Unsubscribe' %}</a>
            {% else %}
                <a href="?subscribe=me" class="btn block-block">{% trans 'Subscribe' %}</a>
            {% endif %}
        {% endif %}
        {% if user.is_authenticated %}
            <a href="{% url 'stream:public' club.id %}">
                <i class="fa fa-comments"></i>
                {% trans 'Chat' %}
            </a>
        {% endif %}
    </section>
</div>

<!-- Founders list -->
<div class="headed block">
    <header class="block-title">
        {% trans 'Editors' %}
        <span class="float-rt">{{ club.founders.all.count }}</span>
    </header>
    <section class="block-body persons-tab">
        <div class="person-item">
            <img src="{{ club.owner.image }}" alt="{{ club.owner.username }}">
            <span>{{ club.owner.username }}</span>
        </div>
        {% for person in club.recent_founders.all %}
            <div class="person-item">
                <img src="{{ person.image }}" alt="{{ person.username }}">
                <span>{{ person.username }}</span>
            </div>
        {% endfor %}
    </section>
</div>

<!-- Members list -->
<div class="headed block">
    <header class="block-title">
        {% trans 'Followers' %}
        <span class="float-rt">{{ club.members.all.count }}</span>
    </header>
    <section class="block-body persons-tab">
        {% for person in club.new_members %}
            <div class="person-item">
                <img src="{{ person.image }}" alt="{{ person.username }}">
                <span>{{ person.username }}</span>
            </div>
        {% empty %}
            <div class="empty">{% trans 'No followers yet' %}</div>
        {% endfor %}
    </section>
</div>